<div class="card-accueil d-flex flex-row flex-wrap gap-4 justify-content-center mt-5">
    <a routerLink=""><app-mat-ripple text="Accueil clientele" classname="ripple-container"></app-mat-ripple></a>
    <a routerLink="/reservation"><app-mat-ripple text="Reservations" classname="ripple-container"></app-mat-ripple></a>
    <a routerLink="/service"><app-mat-ripple text="Service" classname="ripple-container"></app-mat-ripple></a>
    <a routerLink=""><app-mat-ripple text="Cuisine" classname="ripple-container"></app-mat-ripple></a>
    <a routerLink=""><app-mat-ripple text="Caisse" classname="ripple-container"></app-mat-ripple></a>

</div>