<div class="container">
  <div class="row">
    <ng-container *ngIf="tables.length > 0; else noTables">
      <div *ngFor="let table of tables" class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 bg-primary text-white">
          <div class="card-body">
          
            <p class="card-text">{{ table.nombrePlaces }} places</p>
            <p class="card-text"> {{ table.statut }}</p>
  
          </div>
          <div class="card-footer bg-secondary">
            <button class="btn btn-sm btn-outline-light float-right">{{ table.numeroTable }}</button>
          </div>
        </div>
      </div>
       
    </ng-container>

    <ng-template #noTables>
      <div class="col-md-12">
        <p class="text-danger">Aucune table disponible</p>
      </div>
    </ng-template>
  </div>
</div>
