<div class="modal-header">
    <h5 class="modal-title">{{ header }}</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>

<div class="modal-body">
    <p>{{ body }}</p>
    <label for="nbrPersonnes">Nombre de personnes:</label>
    <mat-form-field appearance="outline">
        <mat-label>Nombre de personnes</mat-label>
        <input matInput type="number" [(ngModel)]="nbrPersonnes" id="nbrPersonnes" name="nbrPersonnes" aria-label="Number of people" min="1" max= {{nombrePlacesMax}}>


        <button class="btn btn-sm btn-primary mx-2" (click)="increaseNumber()" aria-label="Increase number of people">+</button>
        <button class="btn btn-sm btn-danger" (click)="decreaseNumber()" aria-label="Decrease number of people">-</button>
    </mat-form-field>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirm()">Confirmer</button>
</div>
