
@import "./_color.scss";
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.default-form{
   max-width: 400px;
}


/* Importing Bootstrap SCSS file. */
$primary:$color-primary;
$secondary:$color-secondary;
$warning:$color-tertiary;

@import 'bootstrap/scss/bootstrap';

/*Importing fontawesome Icones*/
@import "@fortawesome/fontawesome-free/css/all";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
