<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerlink="/" class="primary">Pate D'or</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li *ngFor="let menuRoute of menuRoutes" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="menuRoute.path">{{menuRoute.libelle}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"(click)="logout()"  class="btn"><i
              class="fas fa-power-off me-1"></i>Déconnexion</a>
          </li>
        </ul>
     
      </div>
    </div>
  </nav>
 